@model ConcecionarioAutomoviles.Models.Extra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Extra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdExtra" class="control-label">ID</label>
                <input asp-for="IdExtra" class="form-control" />
                <span asp-validation-for="IdExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreExtra" class="control-label">Nombre del extra</label>
                <input asp-for="NombreExtra" class="form-control" />
                <span asp-validation-for="NombreExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioExtra" class="control-label">Precio extra</label>
                <input asp-for="PrecioExtra" class="form-control" />
                <span asp-validation-for="PrecioExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
