@model ConcecionarioAutomoviles.Models.AutomovilesStock

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AutomovilesStock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroBastidor" />
            <div class="form-group">
                <label asp-for="IdModelo" class="control-label"></label>
                <select asp-for="IdModelo" class="form-control" asp-items="ViewBag.IdModelo"></select>
                <span asp-validation-for="IdModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdConcesionario" class="control-label"></label>
                <select asp-for="IdConcesionario" class="form-control" asp-items="ViewBag.IdConcesionario"></select>
                <span asp-validation-for="IdConcesionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
